In [59]:
import pandas as pd
import glob

data = pd.DataFrame()
cols = ['state', 'gender', 'year', 'name', 'count']
df=[]
for f in glob.glob('*.txt'):
    
    df.append(pd.read_csv(f,names=cols))

In [60]:
df=pd.concat(df,axis='rows')
df.to_csv("final_names_data.csv")

In [65]:
df.sort_index(ascending=False,inplace=False)

       state gender  year      name count
381213    CA      M  2018    Zuriel     5
381212    CA      M  2018    Zidane     5
381211    CA      M  2018    Zhaire     5
381210    CA      M  2018      Zein     5
381209    CA      M  2018       Zed     5
381208    CA      M  2018   Zayvion     5
381207    CA      M  2018    Zaylen     5
381206    CA      M  2018      Zaki     5
381205    CA      M  2018       Zak     5
381204    CA      M  2018   Zackery     5
381203    CA      M  2018     Yuven     5
381202    CA      M  2018      Yuto     5
381201    CA      M  2018    Yovani     5
381200    CA      M  2018    Younes     5
381199    CA      M  2018    Yehuda     5
381198    CA      M  2018   Yasmani     5
381197    CA      M  2018    Xavien     5
381196    CA      M  2018   Willian     5
381195    CA      M  2018    Westyn     5
381194    CA      M  2018    Waylan     5
381193    CA      M  2018     Wayde     5
381192    CA      M  2018      Wali     5
381191    CA      M  2018    Vishnu     5
381190    CA      M  2018    Vinson     5
381189    CA      M  2018    Vibhav     5
381188    CA      M  2018      Vian     5
381187    CA      M  2018      Vedh     5
381186    CA      M  2018  Valerian     5
381185    CA      M  2018    Uzziel     5
381184    CA      M  2018     Tylin     5
...      ...    ...   ...       ...   ...
0         ME      F  1910      Mary    92
0         KY      F  1910      Mary   793
0         MD      F  1910      Mary   393
0         LA      F  1910      Mary   586
0         FL      F  1910      Mary   239
0         NH      F  1910      Mary    50
0         VT      F  1910      Mary    45
0         WA      F  1910     Helen   156
0         AL      F  1910      Mary   875
0         OR      F  1910   Dorothy    57
0         OK      F  1910      Mary   326
0         WV      F  1910      Mary   380
0         AR      F  1910      Mary   408
0         OH      F  1910      Mary  1099
0         RI      F  1910      Mary   141
0         AZ      F  1910      Mary    74
0         SC      F  1910      Mary   602
0         CA      F  1910      Mary   295
0         NY      F  1910      Mary  1923
0         WI      F  1910      Mary   260
0         CO      F  1910      Mary   193
0         NV      F  1910      Mary    10
0         CT      F  1910      Mary   304
0         NM      F  1910      Mary    98
0         DC      F  1910      Mary    80
0         NJ      F  1910      Mary   593
0         SD      F  1910     Helen    60
0         DE      F  1910      Mary    59
0         TN      F  1910      Mary   735
0         AK      F  1910      Mary    14

[6028151 rows x 5 columns]

### The most popular name over the history (Males and Females)

### The most popular name over te history by state

### The most popular name by state and each 5 years

### What wil be your name if you were born in this time and this place